img
{
  width:           30%;
  margin:        1.66%;
  float:          left;
}

p
{
  font-family: Raleway;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 1.66%;
  width: 30%;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}
